@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --color-primary: #212529;
    --color-secondary: #191C1F;
    --color-third: #4C6EF5;
    --gray-100: #191C1F;
    --gray-150: #ADB5BD;
    --gray-200: #F8F9FA;
    --gray-300: #EDF2FF;
    --gray-400: #CED4DA;
    --letras-titulos:
    --letras-maiores1: clamp(1rem, -0.023rem + 3.851vw, 3rem);
    --letras-menores: clamp(1rem, 0.744rem + 0.963vw, 1.5rem);
    --letras-menores1: clamp(1rem, 0.591rem + 1.54vw, 1.8rem);
}

body {
    font-family: "Inter",sans-serif;
    width: 100%;
}