@import url("./globalStyles.css");

main {
    background: var(--color-primary);
}
body {
    width: 100%;
    padding: clamp(1024px, 768px e 425px);
}

.header__container {
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid var(--color-third);
    background: var(--color-secondary);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__title {
    width: 300px;
    height: 20.7984px;
    color: var(--gray-200);
}
.header__button {
    display: flex;
    height: 50px;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray-200);
    color: var(--gray-7, #F8F9FA);
    text-align: center;
    background-color: var(--color-secondary);
}
.banner__container1 {
    background: var(--color-primary);
}
.banner__container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}
@media (max-width:48rem) {

}
.banner__title {
    color: var(--gray-300);
    text-align: center;
    color: var(--gray-6, #EDF2FF);
    text-align: center;
    font-size: 52px;
    font-weight: 600;
    line-height: 140%;
    font-size: clamp(16px, -0.368px + 3.851vw, 48px);

}

.banner__paragraph {
    color: var(--gray-150);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    font-size: clamp(16px, 11.904px + 0.963vw, 24px);
}

.banner__button {
    display: flex;
    height: 60px;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-third);
    background: var(--color-third);
    color: var(--gray-200);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.who_are_we {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 1rem;
    background: var(--gray-100);
    width: 100%;
    height: 250px;
    flex-direction: column;
    justify-content: center ;
}

@media(max-width:768px) {
    .who_are_we {
        flex-direction: column;
    }
}

.who_are_we--title {
    display: flex;
    height: 46px;
    flex-direction: column;
    justify-content: center;
    color: var(--gray-300);
    font-weight: 600;
    line-height: 160%;
    font-size:var(--letras-maiores)
}

.who_are_we--paragraph {
    width: 100%;
    color: var(--gray-400);
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    font-size: var(--letras-menores);
}

.div-container {
    display: flex;
    align-items: flex-start;
    width: 85%;
    margin: 0 auto;
    gap: 56px;
    padding: 20px;
}

@media (max-width:48rem) {
    .div-container {
        flex-direction: column;
    }
}

.doubts__container--1 {
    position: sticky;
    top: 100px;
}
@media (max-width: 768px) {
    .doubts__container--1 {
        position: static;
    }
}

.doubts__container {
    display: flex;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 33px;
    flex-shrink: 0;
    align-self: stretch;
}

.doubts_frequent {
    color: var(--gray-300);
    font-size: 40px;
    font-weight: 600;
    line-height: 160%;
    align-self: stretch;
    font-size: var(--letras-maiores);
}

.paragraph__container {
    color: var(--gray-150);
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    font-size: var(--letras-menores);
}

.doubts__button {
    display: flex;
    height: 60px;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-third);
    background: var(--color-third);
    color: var(--gray-200);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.question__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}

.doubts__title {
    color: var(--gray-300);
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 160%;
    font-size: clamp(16px, 6.176px + 2.31vw, 35.2px);
}

.paragraph__doubts {
    color: var(--gray-150);
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    font-size: var(--letras-menores1);
}

.comments__container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-around;
    height: 125rem;
    padding: 32px;
    gap: 6rem;
    background: var(--color-primary);
}

@media (max-width:1024px){
    .comments__container{
        padding: 0%;
        
    }
}

@media (max-width: 768px) {
    .comments__container {
        flex-direction: column;
        padding: 0%;
    }
}

.comments__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 82px;
}

.comments__name {
    color: var(--gray-300);
    font-size: var(--letras-maiores);
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    padding: 10px;
}

.comments__date {
    width: 176px;
    height: 27px;
    color: var(--gray-150);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.comments__paragraph {
    color: var(--gray-400);
    text-align: justify;
    font-weight: 400;
    line-height: 150%;
    width: 412px;
    height: 179px;
    flex-shrink: 0;
    font-size: var(--letras-menores);
}
@media (max-width:768px){
    .comments__paragraph {
        width: none;
    }
}

.box__comments--1 {
    position: sticky;
    top: 6.25rem;
}

.box__comments {
    display: flex;
    padding: 6rem;
    flex-direction: column;
    width: 26rem;
    height: 400px;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
    background: var(--color-third);
}
@media (max-width: 1024px){
    .box__comments{
        padding: 15px;
    }
}

@media (max-width: 768px){
    .box__comments {
        padding: 1px;
        width: none;
        align-items: center;
        justify-content: center;
        height: 250px;
    }
}

.box__title {
    color: var(--gray-200);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    align-self: stretch;
    font-size: var(--letras-maiores);
}

.box__paragraph {
    color: var(--gray-7, #F8F9FA);
    text-align: justify;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 150%;
    align-self: stretch;
    font-size: var(--letras-menores);
}

.footer__container {
    display: flex;
    width: 100%;
    height: 102px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--gray-100);
}

.footer__title {
    height: 18.5536px;
    flex-shrink: 0;
    color: var(--gray-300);
}

.modal__container1 {
    display: inline-flex;
    padding: 40px 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    border: 2px solid var(--color-third);
    background: var(--color-primary);
}

.modal__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--gray-200);
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 160%;
}

.modal__paragraph {
    width: 448px;
    color: var(--gray-4, #ADB5BD);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

#email {
    display: inline-flex;
    width: 535px;
    height: 49px;
    padding-left: 10px;
    box-sizing: border-box;
    color: var(--gray-150);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    border: 2px solid var(--color-third);
    background: var(--color-primary);
}

.modal__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal__button {
    display: flex;
    width: 535px;
    height: 60px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    border: 1px solid var(--color-third);
    background: var(--color-third);
    color: var(--gray-200);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}